IMG.nume {
    display: block;
    margin: auto;
    align-items:middle;
    height: 60px;
    width: 5%;
}

.header-link {
    color : #fff;
    padding-left: 10px;
}

.error-alert {
    background-color : #FB3D3D;
    color : white;
    border : none !important;
    border-radius : 0 !important;
    font-size: 11pt !important;
    padding:12px !important;
    box-shadow: none !important;
}

.success-alert {
    color : #3aaf45;
    border : none !important;
    border-radius : 0 !important;
    font-size: 11pt !important;
    padding:12px !important;
    box-shadow: none !important;
}


.header-button {
    color : lightgray !important;
    padding-left: 20px;
}

.header-button:hover{
    color : #fff !important;
}


ul.nav a:hover, ul.nav a:active, ul.nav a:visited  {
    background-color:#000;
}

ul.nav.white a:hover, ul.nav.white a:active, ul.nav.white a:visited  {
    background-color:#fff;
}

.body-container{
    margin-top:50px;
}

.select-ora{
    width:80px;
    display: inline-block;
    margin-right:10px;
}