.bg {
  background-image: url(/photos/header.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  z-index: -999;
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.bg-fixed {
  background-image: url(/photos/header.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  overflow-y: auto;
  z-index: -999;
}




.header-landing{
  background: rgba(0,0,0,.25);
  max-width: none!important;
  color: white;
  min-height: 50px;
  position: relative;
}

.header{
  background: #232323;
  max-width: none!important;
  color: white;
  min-height: 50px;
  position: relative;
}

.middle-text-landing{
  margin-top:24%;
  margin-right: 30px;
  color:white;
  text-shadow: 2px 2px black;
  font-size: 40pt;
  text-align: right;
}

.page-body{
  text-align: left;
  margin-top:15%;
  margin-bottom: 30px;
}

.grey-container{
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px!important;
  margin-bottom: 40px;
}

.footer{
    background: #232323;
    color:white;
    padding-top:30px;
    padding-bottom:30px;
    min-height: 250px;
    text-align: left;
}

.footer a{
  display: block;
}

.grey-container:hover{
  background-color: #f1f1f1;
}

.smaller-text{
  font-size: 18pt;
}

.spacing-bottom{
  margin-bottom: 40px;
}
.spacing-top{
  margin-top: 20px;
}

.button-signup{
  font-family:'Roboto', sans-serif;
  background: white;
  color: black;
  padding-left:18px;
  padding-right:18px;
  padding-top:13px;
  padding-bottom:13px;
  font-size: 16pt;
  border-radius: 0px;
}
.button-signup-small, .button-signup-small:visited , .button-signup-small a:visited{
    font-family:'Roboto', sans-serif;
    background: white;
    color: black;
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
    font-size: 11pt;
    border-radius: 0px;
    text-decoration: none;
}


a:hover, a:active{
  text-decoration: none;
  color:#303030;
}

a:visited, a:link{
  color:#33c295;
  text-decoration: none;
}
 .landing-icon{
   width: 70%;
   padding-left:30px;
   padding-right:30px;
   padding-top:30px;
   padding-bottom:25px;
   margin: auto;

 }
 .link-login, .link-login:visited{
    top:40px;
    font-family:'Roboto', sans-serif;
    color: white;
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
    font-size: 11pt;
    border-radius: 0px;
    text-decoration: none;
 }

 .link-login:active, .link-login:hover{
   color:lightgray;
   text-decoration: none;
 }



 .button-blue, .button-blue:visited{
    font-family:'Roboto', sans-serif;
    background: #33c295;
    color: white;
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
    display: inline-block;
    text-decoration: none;
    font-size: 13pt;
     border: none;
 }

  .button-red, .button-red:visited{
    font-family:'Roboto', sans-serif;
    background: #FB3D3D;
    color: white;
    padding-left:14px;
    padding-right:14px;
    padding-top:9px;
    padding-bottom:9px;
    display: inline-block;
    text-decoration: none;
    font-size: 13pt;
     border: none;
     margin-left:10px;
 }

 .button-blue:hover, .button-login:active{
   color: white;
   text-decoration: none;
   background: #2daf86;
 }

 .button-blue a{
   color:white;
 }

.links{
  float: right;
}
.logo, .logo a, .logo a:hover, .logo a:active{
  font-family: 'Oswald', sans-serif;;
  font-size: 15pt;
  color:white;
  text-decoration: none;
  display: inline-block;
}

.logo img{
  height:14px;
  margin-bottom: 5px;
    display: inline-block;
}

.login-container{
  margin-top:10%;
  font-family:'Roboto', sans-serif;
  font-size: 13pt;
  padding: 30px;
  text-align: left;
  background-color: white;
}


.signup-container{
  margin-top:2%;
  margin-bottom:2%;
  font-family:'Roboto', sans-serif;
  font-size: 13pt;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-top: 28px;
  text-align: left;
  background-color: white;
}

.signup-choice-container{
  margin-top:4%;
  font-family:'Roboto', sans-serif;
  font-size: 13pt;
  padding-left: 50px;
  padding-bottom: 8px;
  padding-top: 28px;
  text-align: left;
}

.input{
  border-radius: 0px;
  margin-top:6px;
}

.spacing{
  margin:8px;
}

.spacing-big{
  margin:20px;
  margin-bottom: 40px;
}

.text{
  font-size: 13pt;
}

.small-text{
  font-size: 11pt;
}

.link a{
  color: #33c295;
}
.link-big a{
  color: #33c295;
  font-weight: bold;
  font-size: 14pt;
}

.form-control:focus {
  border-color: #33c295;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgbargba(45, 175, 134, 0.6);
}

.icon-bg{
  padding:5px;
  background-color: #F1F0F0;
}
.Select-control {
  border-radius: 0px!important;
}

.is-focused:not(.is-open) > .Select-control {
    border-color:#b3b3b3 !important;
}

.Select-item{
  color:dimgray!important;
  background-color: #fff!important;
  border-color:#d6d6d6 !important;
  font-size: 0.9em !important;
}

.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #fff!important;
  color: #D0021B!important;
}